<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.xj_service.oa.mapper.InspectionTaskMapper">
    <select id="selectByInitiatorId" resultType="org.xj_service.oa.entity.InspectionTask">
        SELECT * FROM oa_inspection_task WHERE initiator_id = #{initiatorId} ORDER BY create_time DESC
    </select>
</mapper>